.Root {
    text-align: left;
    padding-left: 2rem;
}

.Header {
    display: flex;
    background-color: rgb(10, 7, 161);
}

.Titile {
    text-align: left;
    padding-left: 2rem;
    padding-right: 52rem;
    font-size: large;
    font-weight: bold;
}

.Link {
    text-align: right;
    padding-right: 2rem;
    font-size: medium;
}

.Title {
    font-size: large;
    color: rgb(214, 75, 75);
    font-weight: bold;
}